
<div class="layui-card-header">版本</div>
<div class="layui-card-body layui-text layadmin-about">
  <blockquote class="layui-elem-quote" style="border: none;">
    <script type="text/html" template>
      <p>当前版本：v{{ layui.admin.v }}</p>
    </script>
  </blockquote>
</div>

<div class="layui-card-header">关于</div>
<div class="layui-card-body layui-text layadmin-about">
  <blockquote class="layui-elem-quote" style="border: none;">
    《RC物联》APP与遥控车是配套使用的，实现足不出户，发现更多精彩，满足你对遥控车的更多想象.超视距网络可视遥控车，借助专业的实时通信系统，实现远程实时视频语音和控制信号传输，不限距离，4G信号覆盖区域即可远程操控
  </blockquote>
</div>